<div class="container">
<% if !flash[:notice].blank? %>
   <div>
      <%= flash[:notice] %>
   </div>
<% end %>

<br>

<%= link_to "New docx file", new_input_doc_path %>
<br>
<br>

<table border="3">
   <thead>
      <tr>
         <th>Candidate Name</th>
         <th>Download Link</th>
         <th>Action</th>
      </tr>
   </thead>

   <tbody>
      <% @input_docs.each do |input_doc| %>

         <tr>
            <td><%= input_doc.name %></td>
            <td><%= link_to "Download", input_doc.attachment_url %></td>
            <td><%= link_to "Delete",  input_doc, method: :delete, confirm: "Are you sure you want to delete #{input_doc.name}?" %></td>
         </tr>

      <% end %>
   </tbody>

</table>
</div>
